htop/
ibus/
lxpanel/
lxsession/
pulse/
procps/
pcmanfm/
openbox/
gnome-session/
goa-1.0/
gtk-2.0/
gtk-3.0/
gtk-4.0/
htop/
evolution/
assets/
Code/
dconf/
enchant/
mimeapps.list
pavucontrol.ini
settings.ini
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
gnome-initial-setup-done
GNOME-xdg-terminals.list
.gsd-keyboard.settings-ported

